{% extends 'integration_app/base.html' %}

{% block title %}Hizmetler - MS International{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h1 class="display-4 mb-4">Unsere Hizmetler</h1>
            <p class="lead">Umfassende Beratung für Ihre Visum- und Aufenthaltsangelegenheiten</p>
        </div>
    </div>
    
    <div class="row g-4">
        <div class="col-md-6 col-lg-4" id="oturum-vize">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Oturum & Vize</h5>
                    <p class="card-text">Beratung und Unterstützung bei Aufenthaltsgenehmigungen und Visa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="is-arama">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">İş Arama Vizesi</h5>
                    <p class="card-text">Professionelle Unterstützung bei der Jobsuche und Arbeitsvisum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="aile-birlesimi">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Aile Birleşimi</h5>
                    <p class="card-text">Hilfe bei der Familienzusammenführung in Deutschland.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="mavi-kart">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Mavi Kart</h5>
                    <p class="card-text">Unterstützung beim EU Blue Card Antrag.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="ogrenci-vize">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Öğrenci Vizesi</h5>
                    <p class="card-text">Beratung für Studentenvisum und Studienaufenthalt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

